/*
 * custom markdown styles
 */
.content--page .content--markdown {
  width: 100%;
  max-width: 600px;
}

/*
 * styles downloaded from:
 * https://github.com/sindresorhus/github-markdown-css
 */
@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.content--markdown {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.content--markdown .pl-c {
  color: #6a737d;
}

.content--markdown .pl-c1,
.content--markdown .pl-s .pl-v {
  color: #005cc5;
}

.content--markdown .pl-e,
.content--markdown .pl-en {
  color: #6f42c1;
}

.content--markdown .pl-smi,
.content--markdown .pl-s .pl-s1 {
  color: #24292e;
}

.content--markdown .pl-ent {
  color: #22863a;
}

.content--markdown .pl-k {
  color: #d73a49;
}

.content--markdown .pl-s,
.content--markdown .pl-pds,
.content--markdown .pl-s .pl-pse .pl-s1,
.content--markdown .pl-sr,
.content--markdown .pl-sr .pl-cce,
.content--markdown .pl-sr .pl-sre,
.content--markdown .pl-sr .pl-sra {
  color: #032f62;
}

.content--markdown .pl-v,
.content--markdown .pl-smw {
  color: #e36209;
}

.content--markdown .pl-bu {
  color: #b31d28;
}

.content--markdown .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.content--markdown .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.content--markdown .pl-c2::before {
  content: "^M";
}

.content--markdown .pl-sr .pl-cce {
  font-weight: bold;
  color: #22863a;
}

.content--markdown .pl-ml {
  color: #735c0f;
}

.content--markdown .pl-mh,
.content--markdown .pl-mh .pl-en,
.content--markdown .pl-ms {
  font-weight: bold;
  color: #005cc5;
}

.content--markdown .pl-mi {
  font-style: italic;
  color: #24292e;
}

.content--markdown .pl-mb {
  font-weight: bold;
  color: #24292e;
}

.content--markdown .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.content--markdown .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.content--markdown .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.content--markdown .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.content--markdown .pl-mdr {
  font-weight: bold;
  color: #6f42c1;
}

.content--markdown .pl-ba {
  color: #586069;
}

.content--markdown .pl-sg {
  color: #959da5;
}

.content--markdown .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.content--markdown .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.content--markdown a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.content--markdown a:active,
.content--markdown a:hover {
  outline-width: 0;
}

.content--markdown strong {
  font-weight: inherit;
}

.content--markdown strong {
  font-weight: bolder;
}

.content--markdown h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.content--markdown img {
  border-style: none;
}

.content--markdown svg:not(:root) {
  overflow: hidden;
}

.content--markdown code,
.content--markdown kbd,
.content--markdown pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.content--markdown hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.content--markdown input {
  font: inherit;
  margin: 0;
}

.content--markdown input {
  overflow: visible;
}

.content--markdown [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.content--markdown * {
  box-sizing: border-box;
}

.content--markdown input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.content--markdown a {
  color: #0366d6;
  text-decoration: none;
}

.content--markdown a:hover {
  text-decoration: underline;
}

.content--markdown strong {
  font-weight: 600;
}

.content--markdown hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.content--markdown hr::before {
  display: table;
  content: "";
}

.content--markdown hr::after {
  display: table;
  clear: both;
  content: "";
}

.content--markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}

.content--markdown td,
.content--markdown th {
  padding: 0;
}

.content--markdown h1,
.content--markdown h2,
.content--markdown h3,
.content--markdown h4,
.content--markdown h5,
.content--markdown h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.content--markdown h1 {
  font-size: 32px;
  font-weight: 600;
}

.content--markdown h2 {
  font-size: 24px;
  font-weight: 600;
}

.content--markdown h3 {
  font-size: 20px;
  font-weight: 600;
}

.content--markdown h4 {
  font-size: 16px;
  font-weight: 600;
}

.content--markdown h5 {
  font-size: 14px;
  font-weight: 600;
}

.content--markdown h6 {
  font-size: 12px;
  font-weight: 600;
}

.content--markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}

.content--markdown blockquote {
  margin: 0;
}

.content--markdown ul {
  list-style: disc;
}
.content--markdown ol {
  list-style: decimal;
}
.content--markdown ul,
.content--markdown ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.content--markdown ol ol,
.content--markdown ul ol {
  list-style-type: lower-roman;
}

.content--markdown ul ul ol,
.content--markdown ul ol ol,
.content--markdown ol ul ol,
.content--markdown ol ol ol {
  list-style-type: lower-alpha;
}

.content--markdown dd {
  margin-left: 0;
}

.content--markdown code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.content--markdown pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.content--markdown svg {
  margin-bottom: 10px;
}

.content--markdown .octicon {
  vertical-align: text-bottom;
}

.content--markdown .pl-0 {
  padding-left: 0 !important;
}

.content--markdown .pl-1 {
  padding-left: 4px !important;
}

.content--markdown .pl-2 {
  padding-left: 8px !important;
}

.content--markdown .pl-3 {
  padding-left: 16px !important;
}

.content--markdown .pl-4 {
  padding-left: 24px !important;
}

.content--markdown .pl-5 {
  padding-left: 32px !important;
}

.content--markdown .pl-6 {
  padding-left: 40px !important;
}

.content--markdown::before {
  display: table;
  content: "";
}

.content--markdown::after {
  display: table;
  clear: both;
  content: "";
}

.content--markdown>*:first-child {
  margin-top: 0 !important;
}

.content--markdown>*:last-child {
  margin-bottom: 0 !important;
}

.content--markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.content--markdown .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.content--markdown .anchor:focus {
  outline: none;
}

.content--markdown p,
.content--markdown blockquote,
.content--markdown ul,
.content--markdown ol,
.content--markdown dl,
.content--markdown table,
.content--markdown pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.content--markdown hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.content--markdown blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.content--markdown blockquote>:first-child {
  margin-top: 0;
}

.content--markdown blockquote>:last-child {
  margin-bottom: 0;
}

.content--markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.content--markdown h1,
.content--markdown h2,
.content--markdown h3,
.content--markdown h4,
.content--markdown h5,
.content--markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.content--markdown h1 .octicon-link,
.content--markdown h2 .octicon-link,
.content--markdown h3 .octicon-link,
.content--markdown h4 .octicon-link,
.content--markdown h5 .octicon-link,
.content--markdown h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.content--markdown h1:hover .anchor,
.content--markdown h2:hover .anchor,
.content--markdown h3:hover .anchor,
.content--markdown h4:hover .anchor,
.content--markdown h5:hover .anchor,
.content--markdown h6:hover .anchor {
  text-decoration: none;
}

.content--markdown h1:hover .anchor .octicon-link,
.content--markdown h2:hover .anchor .octicon-link,
.content--markdown h3:hover .anchor .octicon-link,
.content--markdown h4:hover .anchor .octicon-link,
.content--markdown h5:hover .anchor .octicon-link,
.content--markdown h6:hover .anchor .octicon-link {
  visibility: visible;
}

.content--markdown h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.content--markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.content--markdown h3 {
  font-size: 1.25em;
}

.content--markdown h4 {
  font-size: 1em;
}

.content--markdown h5 {
  font-size: 0.875em;
}

.content--markdown h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.content--markdown ul,
.content--markdown ol {
  padding-left: 2em;
}

.content--markdown ul ul,
.content--markdown ul ol,
.content--markdown ol ol,
.content--markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.content--markdown li>p {
  margin-top: 16px;
}

.content--markdown li+li {
  margin-top: 0.25em;
}

.content--markdown dl {
  padding: 0;
}

.content--markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.content--markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.content--markdown table {
  display: block;
  width: 100%;
  overflow: auto;
}

.content--markdown table th {
  font-weight: 600;
}

.content--markdown table th,
.content--markdown table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.content--markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.content--markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.content--markdown img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}
.content--markdown img[width],
.content--markdown img[height] {
  max-width: none;
}

.content--markdown code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.content--markdown code::before,
.content--markdown code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.content--markdown pre {
  word-wrap: normal;
}

.content--markdown pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.content--markdown .highlight {
  margin-bottom: 16px;
}

.content--markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.content--markdown .highlight pre,
.content--markdown pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.content--markdown pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.content--markdown pre code::before,
.content--markdown pre code::after {
  content: normal;
}

.content--markdown .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.content--markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

.content--markdown :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.content--markdown .task-list-item {
  list-style-type: none;
}

.content--markdown .task-list-item+.task-list-item {
  margin-top: 3px;
}

.content--markdown .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.content--markdown hr {
  border-bottom-color: #eee;
}
